/* utilities variables */

$font: "Droid Sans", "Century Gothic", CenturyGothic, AppleGothic, sans-serif
$font-alt: "Love Ya Like A Sister", cursive
//$font-alt: IdolWild, sans-serif

$font-color-dark: #454545 /* dark grey */
$font-color-medium: #666666 /* medium grey */
$font-color-light: #cccccc /* light grey */

//$theme-color-primary: #ed145b /* bright pink  */
$theme-color-primary: #008080 /* dark turquoise blue  */
$shadow-color-default: rgba(#000,.4) /* grey */

$yellow-bg: #faebd7
$grey-bg: #e9eaed

