/* utilities variables */

$font-headings: IdolWild, sans-serif
$font-basic: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
$font-subtext: "Century Gothic", CenturyGothic, AppleGothic, sans-serif

$font-color-dark: #454545 /* dark grey */
$font-color-medium: #666666 /* medium grey */
$font-color-light: #cccccc /* light grey */

$theme-color-primary: #ed145b /* bright pink  */
$shadow-color-default: #333333 /* grey */
