/* component icon-links */

.contact_icons
  padding: 0 0 0 10px
  font-size: 0

  li
    display: inline-block
    position: relative
    width: 40px
    height: 40px
    margin: 0 3px
    padding: 0

  a
    display: block
    height: 100%

    span
      display: inline-block
      +hide-text

  +max-width(400px)
    padding-left: 0

    li
      margin: 0 2px
