/* base layout */

*
  +box-sizing(border-box)

html
  height: 100%

body
  min-width: 320px
  height: 100%
  background: image-url("bg-body.png")

.wrap
  @extend %clearfix
  width: 100%
  max-width: 960px
  min-height: 100%
  position: relative
  margin: 0 auto
  padding: 0 60px 200px
  background: #ffffff image-url("bg-wrap.png") no-repeat bottom left
  background-size: 100%
  +box-shadow(0 0 10px 10px $shadow-color-default)

  +max-width(700px)
    background-position: bottom center
    background-size: 700px auto

.layout-left
  @extend %clearfix
  width: 36.6%
  float: left
  padding-right: 60px

.layout-right
  width: 63.4%
  float: right
  padding-left: 60px
  border-left: 2px solid $theme-color-primary
