.main
  %section.content
    %article
      %h1 Frontend Story
      %p
        Early in 2012 I started my adventure. I looked up some tutorials, and started practicing. And I liked it. I spent days and nights typing code, reading blogs, checking out websites, joined
        = link_to 'Fronteers', 'http://fronteers.nl', :rel => 'nofollow', :target => 'blank'
        , ordered a few books and started looking for courses. This became my path:

      %h2 Tutorials and videos
      %p After starting at w3schools I quickly got informed that that was not the place to be. Still use it as a reference though every now and then. I also started JavaScript at CodeAcademy but found out that was moving too fast too soon.
      <a href="http://htmldog.com" rel="nofollow" target="blank">HTML Dog</a>
      is where I gained my basic HTML and CSS skills. Loved the
      = link_to 'Google Ground up videos', 'http://code.google.com/intl/nl/edu/submissions/html-css-javascript/', :rel => 'nofollow', :target => 'blank'
      as well and started watching loads of videos from the Fronteers conferences.

      %h2 Books
      %p I needed books. To change a little between screen and paper, to read while relaxing on the sofa. I read and loved <a href="http://shop.oreilly.com/product/9780596802455.do" rel="nofollow" target="blank">CSS: The Missing Manual</a> from start to finish. And yes I did all the exercises. After this, I was ready for something more challenging: JavaScript.
      %p My second book was <a href="http://shop.oreilly.com/product/0636920010906.do" rel="nofollow" target="blank">Head First: HTML5 Programming</a>. Loved it as well. Not finished yet, but worked through the JavaScript part in no time. My skills were developing along several lines though, along with this reading and exercising I watched videos, looked up examples and did several courses.

      %h2 Courses and training
      %p Since a little Photoshop seemed handy, I took part in an online six-week course in March. It gave me what I wanted, some basic knowledge of how to use the program. The good stuff came in several Fronteers courses. I participated in <a href="http://fronteers.nl/cursussen/jquery-inception-arjan-eising" rel="nofollow" target="blank">jQuery Inception</a>, <a href="http://fronteers.nl/cursussen/javascript-achtbaan-peter-van-der-zee" rel="nofollow" target="blank">JavaScript Rollercoaster</a> and <a href="http://fronteers.nl/cursussen/screw-css-roy-tomeij" rel="nofollow" target="blank">Screw CSS!</a> over the past few months. And during the summer I did a whole bunch of courses. I did a set of courses at The Competence Factory: <a href="http://www.competencefactory.nl/trainingen/10550/cursus-leergang-frontend-webdeveloper-gevorderd/index.html" rel="nofollow" target="blank">Frontend Web Developer Advanced</a>.
      %p All together I think I got quite a good understanding of how things work and what is out there. Even though it is hard for me to compare. And everytime I feel confident about my skills, I discover new stuff to learn and I feel like I know nothing yet :). I do lack practice in projects though. This website is my only showable project so far. I'm working on some other things too, but I really hope to get an intern-like job to build up my speed, skills and confidence and get ready for the real stuff.

    %article
      %h1 Background Story
      %p I was born in 1982. Many years later, I graduated from highschool. Many, many years later I almost graduated as a Master of Law. And now I am becoming a frontend specialist.

      %h2 Education
      %p My childhood years I spent at a Montessori Elementary school. I learned everything easily, skipped a grade, almost one more, and left at age eleven. Then I went to secondary school. I didn't like it, got bored, my grades dropped but somehow I managed to make it through the exams. I barely passed, but I did, in the courses Dutch, English, French, History, Economics II, Mathematics A and Mathematics B. After that, I partied for two years. Then I started studying Law. Even though I liked parts of it, it became a long struggle. It did get me a Bachelor's degree, but I quit just before my Master thesis. Enough. I really don't want to be a lawyer.

      %h2 Diving
      %p At age nine I joined the springboard diving department at our swimming club. For ten years I trained on a very high level, four or five days a week. I took part in national and international youth competitions and tournaments. I never made it to the top, but I was not that much behind either. Two silver medals at the Dutch Nationals at age sixteen are my modest best results.
      %p After ending my active career I was present at competitions as a judge for years. I judged many national championships and was sent to international tournaments as a member of the national team by the Dutch federation. I am both LEN and FINA certified. During these years I also got my coaching degree (a serious one-year educational program) and was head coach of the diving team in Alphen aan den Rijn for four years. In 2008 I wrote a coaching manual for youth divers for the national federation KNZB.</p>
      <p>Diving was a big part of my life for many years, but two years ago I dropped it to make space for my career and personal life. Maybe  I'll be back some day, maybe I won't.</p>

      %h2 Jobs
      %p During my horrifying years as a law student, I had many jobs. From order picker to bartender to legal secretary to office manager at K&amp;K Solutions. My job included more than just the office management, but more importantly, I worked together with developers and designers all day. I got to know the business. But even though I was appreciated a lot, I hated that I wasn't part of the creative process. I knew that in the future, I needed something else.

      %h2 Mensa
      %p In 2006 I became a member of Mensa, the international high IQ society. Within this society I joined the Mensa Youth, a subgroup of young playful people in the age of 18-35. I loved the open atmosphere and witty people. I quickly got involved in organizing events. In the summer of 2008 we set up an international ten-day camp in the Netherlands. There was lots of talking, joking, drinking, gaming, outdoor fun and just chilling. At the end of 2009, we redid it with a five-day New Year's Event. We had 75 guests from 12 different countries and were sold out within a week.

  %aside
    %section.stats
      %h1 Stats
      %p made in:<br /><span>NL</span>
      %p date of manufacture:<br /><span>March 3, 1982</span>
      %p live in:<br /><span>Amsterdam</span>
      %p job:<br /><span>frontend apprentice<br />@ <a href="http://www.80beans.com/en">80beans</a></span>
      %p likes:<br /><span>love, laugh, play, chill</span>


