%header.mod-cv_header
  %h1 Curriculum Vitae

%aside.layout-left.mod-cv_aside
  %h2 general

  %dl.general
    %dt name
    %dd Hetty
    %dt since
    %dd March 3, 1982
    %dt city
    %dd Amsterdam

  %dl.contact
    %dt email
    %dd devries@hetty82.nl
    %dt phone
    %dd +31-6-24647903

  %h2 personal
  %dl.personal
    %dt traits
    %dd Super Smart
    %dd Totally Funny
    %dd Socially Skilled
    %dd Internally Motivated
    %dd Highly Energetic
    %dd Humble by Nature

  %dl.personal
    %dt likes
    %dd Play
    %dd Create
    %dd Sing
    %dd Love


.layout-right
  %section.mod-cv
    %h1 positions

    %ul.positions
      %li
        %header
          %h2 Front-end / Ruby on Rails Developer
          %p.subtext Zilverline, 2013 - 2014
        %p Allround Developer in Scrum team. Worked 80% of the time on one big Ruby on Rails project and 20% on several smaller ones. Though specialized in front-end architecture and CSS, I paired with designers, programmers and clients a lot of the time.

      %li
        %header
          %h2 Front-end Developer
          %p.subtext 80beans / AppSignal, 2012 - 2013

        %p
          After starting here as an apprentice, I quickly moved on towards a full development position. I became responsible for most of the front-end development for lots and lots of small projects, as well as our biggest project:

          = link_to 'AppSignal.com', "https://appsignal.com"


  %section.mod-cv
    %h1 skills
    %dl
      %dt primary
      %dd Modular Front-end
      %dd Front-end for Rails
      %dd HTML
      %dd Architecture
      %dd CSS
      %dd Responsive Design
      %dd Maintainability
      %dd JavaScript
      %dd Agile Development
      %dd Material Design

    %dl
      %dt secondary
      %dd Ruby on Rails Development
      %dd Scrum
      %dd Application Modeling
      %dd User Interaction Design
      %dd Usability Testing

  %section.mod-cv
    %dl
      %dt
        %h1 tools
      %dd Haml
      %dd Slim
      %dd Sass
      %dd Less
      %dd jQuery
      %dd Backbone.js
      %dd React.js
      %dd Git
      %dd Github
      %dd Compass
      %dd Bourbon
      %dd Bootstrap
      %dd Foundation

  %section.mod-cv
    %h1 certifications
    %dl
      %dt Scrum Alliance
      %dd Certified Product Owner (2014)
      %dd Certified Scrum Master (2013)

    %dl
      %dt Fronteers
      %dd Adaptief Ontwikkelen (2014)
      %dd Screw CSS! (2012)
      %dd JavaScript Rollercoaster (2012)
      %dd jQuery Inception (2012)

    %dl
      %dt Code School - HTML & CSS
      %dd Front-end Foundations
      %dd Front-end Formations
      %dd CSS Cross-Country
      %dd Journey into Mobile
      %dd Blasting off with Bootstrap
      %dd Assembling Sass
      %dd Fundamentals of Design

    %dl
      %dt Code School - JavaScript
      %dd JavaScript Road Trip part 1
      %dd JavaScript Road Trip part 2
      %dd JavaScript Road Trip part 3
      %dd Try jQuery
      %dd Anatomy of Backbone.js

    %dl
      %dt Code School - Ruby
      %dd Try Ruby
      %dd Rails for Zombies
      %dd Rails for Zombies 2
      %dd Ruby Bits

    %dl
      %dt Code School - Git
      %dd Try Git
      %dd Git Real

    %dl
      %dt Competence Factory - Leergang Frontend Development (2012)
      %dd HTML, de voertaal van het web
      %dd CSS, Cascading Stylesheets
      %dd Javascript Web
      %dd HTML5 en CSS3
      %dd jQuery

  %section.mod-cv
    %dl
      %dt
        %h1 earlier education
      %dd University, Bachelor of Laws (2003-2010)
      %dd VWO (pre-university education, 1993-1999)

  %section.mod-cv
    %dl
      %dt
        %h1 other experience
      %dd Financial and Legal Manager at K&K Solutions (2008-2011)
      %dd Diving Official (KNZB, LEN, FINA, 2000-2011)
      %dd Diving Coach Alphense Zwemclub (2006-2010)
      %dd Springboard Diver (1993-2003)
      %dd Organizer International Mensa Youth Camp, Netherlands 2008
      %dd Organizer International Mensa Youth New Year's Camp, Netherlands 2009
