%section.layout-right
  %article.mod-article
    %h1 Work
    %p Since I don't have any finished projects yet except for what you're looking at, you'll have to do with these recommendations. Soon I'll update this to my projects and attributions.</p>

    %h2 Recommendations
    %p At the end of August I had two days of individual jQuery training with Rob van der Gali&euml;n.

    %blockquote
      "Hetty de Vries is een nieuwsgierige cursiste, die de lesstof snel opneemt en binnen zeer korte tijd nieuwe technieken weet te implementeren. Haar basis HTML en CCS is op een ruim voldoende peil om zich verder te ontwikkelen in de vele mogelijkheden van Javascript en aanverwante Libraries, Frameworks en API's. Dit is mij gebleken tijdens de training jQuery, die zij bij Competence Factory heeft gevolgd."

      %footer September 4, 2012 - Rob van der Gali&euml;n, teacher at Competence Factory and owner and developer at Lynx Studio

    %p At K&K Solutions I worked with Wouter Klijnsmit and Pepijn van de Kamp. At K&K Solutions I was responsible for financial planning and administration, HR and legal affairs. I didn't work as a developer but as it was a small company, we got to know each other very well.

    %blockquote
      "Hetty was echt een aanwinst voor het bedrijf. In de periode dat ze bij K&K kwam speelden er diverse vraagstukken op juridisch en organisatorisch gebied. Hetty komt snel tot de kern van de vraag en is zeer proactief in het bieden en implementeren van oplossingen. Mede door de inzet van Hetty hebben we gestructureerd en gedegen kunnen groeien."

      %footer September 10, 2012 - Wouter Klijnsmit, Managing Director at K&K Solutions

    %blockquote
      "Hetty is een echte doorbijter, ze blijft scherp waar anderen focus zouden verliezen, en schept orde in de chaos. Hetty heeft een enorm absorberend vermogen en is in staat om zich in korte tijd heel veel eigen te maken. Tevens is zij in staat een functie niet alleen te vervullen, maar ook te verfijnen. Hetty, het was gaaf met je gewerkt te hebben, we hebben het bedrijf naar een hoger plan getild, ik verwacht dat jij nog een hele mooie carri&egrave;re voor de boeg hebt."
      %footer April 12, 2011 - Pepijn van de Kamp, Project Manager / Lead .NET Developer at K&K Solutions

%aside.layout-left
  %section.mod-skills
    %h1 Skills
    %ul
      %li modulair front-end
      %li semantic HTML(5)
      %li CSS(3)
      %li JavaScript & jQuery
      %li Sass & Compass
      %li Haml
